@import url('https://fonts.googleapis.com/css?family=Zen Antique Soft');

.responsive {
    width: 50%;
    height: auto;
  }

  p {
    font-family: Zen Antique Soft;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
  }