<br>
<p> I am a passionate Software Developer who is looking to always learn new things. I am most interested in Web Development. Not only that, but I created this website using <strong> Angular</strong>.
			
<p>
At <strong> Accenture Federal Services</strong>, I'm a <strong> Software Engineering Analyst</strong>. 
I use a variety of tools to solve customer business problems. 
I really am enjoying my journey developing applications in <strong> Java</strong>.
Furthermore, I am looking into expanding my skill set and experience in frontend technologies. I am looking to eventually get into Full-Stack Development.</p>

<p>
Likewise, I enjoy to playing the piano and play video games in my free time. Additionally, I like to stay up on the most current technologies. I code in my free time as well. Additionally, I was part of a <strong> Toastmasters </strong> club until June 2021 to help ensure that my soft skills are continuously improving.
</p>
<p>
    I strive to always work hard and be a good team player!
</p>
<img src="assets/Code.jpg"  class="mx-auto d-block responsive" />