<br>
<p> I am a passionate Software Developer who is looking to always learn new things. I am most interested in Web Development. I created this website using <strong> Angular</strong>. It would be awesome to have the chance to use <strong> Angular </strong> and/or <strong> React </strong> to help solve a problem. Furthermore, I value <strong> Java</strong>, <strong>Springboot</strong>, and <strong>SQL</strong> as skills to add value to companies. </p>
			
<p>
In my current job at <strong> Charter Communications </strong> as a <strong> Software Developer</strong>, I use <strong> SQL </strong> to solve customer business problems. I am the report writer for my team. I would like to be able to get a chance to develop applications in <strong> Java</strong> and <strong>Springboot</strong>. I am looking to expand my skill set and experience in those areas as well. It would be incredible to get into Full-Stack or Back End Development. </p>

<p>
I like to play the piano and play video games in my free time. I also like to stay up on the most current technologies. I code in my free time as well. Additionally, I am part of a <strong> Toastmasters </strong> club to help ensure that my soft skills are continuously improving.
</p>
<p>
    I strive to always work hard and be a good team player!
</p>
<img src="assets/Code.jpg"  class="mx-auto d-block responsive" />