<br>
<div class="card mx-auto" style="width: 50rem;">
    <div class="card-header" style="background-color: aqua;">
      <strong>Contact Info </strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: <a href="mailto:jamesaiello42@gmail.com">jamesaiello42@gmail.com</a></li>
      <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/jamesaiello1" target="_blank" rel="noreferrer">https://www.linkedin.com/in/jamesaiello1</a></li>
    </ul>
  </div>
  <br>
  <p style="font-size: 20px; text-align: center;">Please email me or contact me for a copy of my resume! </p>
  <p style="font-size: 20px; text-align: center;">Thanks in advance for contacting me! I really look forward to meeting you!</p>
