<br>
<div class="card mx-auto" style="width: 75%">
    <div class="card-header" style="background-color: navy; color: white;">
      <strong>Contact Info </strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Email</strong>: <a href="mailto:jamesaiello42@gmail.com">jamesaiello42@gmail.com</a></li>
      <li class="list-group-item"><strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/jamesaiello1" target="_blank" rel="noreferrer">Please click here to see my LinkedIn</a></li>
    </ul>
  </div>
  <br>
<div class="center">
  <p class = "lead" style="font-size: 20px; text-align: left;">Please email or contact me for a copy of my resume! <br> Thanks in advance for contacting me! I really look forward to making your acquaintance!</p>
</div>