<router-outlet>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/about">James Portfolio</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/about">About Me</a>
          <a class="nav-link active" routerLink="/work-experience">Work Experience</a>
          <a class="nav-link active" routerLink="/education-experience">Education Experience</a>
          <a class="nav-link active" routerLink="/contact">Contact Info / Resume</a>
        </div>
      </div>
    </div>
  </nav>
  
</router-outlet>
