.card {
    border-color: transparent;
    border-width: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; /* https://getcssscan.com/css-box-shadow-examples */
    /*animation:linear;
    animation-name: move-card;
    animation-duration: 3.5s;*/
}

@keyframes move-card {
    0% { left: 100%;}
    25% { left: 50%;}
    50% { left: 0%;}
}